.footer{
  wrapper()
}

.contacts{
  font-size: 24px;
  text-align: center;
  margin: 50px auto;
  &__adress{
    margin-top: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;

  }
  &__tel{
    display: block;
    margin 5px auto;
    padding 5px;
  }
  &__mail{
    display: block;
    margin 5px auto;
    padding 5px;
  }

}