.smm-works {
  wrapper()
  &__list {
    display: flex
    flex-wrap: wrap;
    justify-content: space-between;

  }
  &__item {
    width: calc(33% - 30px);
    margin: 15px;
    box-sizing: border-box
    text-align: center;
    &.active {
      width: 100%;
      .slider{
        width: 70%;
        margin: 0 auto;
      }
      .tab__discr{
        margin-bottom: 50px;
        text-align: left;

      }

    }

  }
}