@import "../node_modules/nib";
@import "nib/normalize";
@import 'nib/gradients';
@import "smart-grid.styl";
@import "mixin.styl";
//@import "fonts.styl";
@import "global.styl";


//js

//хедер
@import "__block/header.styl";

//главная
@import "__block/slider.styl"

//футер
@import "__block/footer.styl";






